In [1]:
import pandas as pd
import numpy as np
import pickle
import subprocess
# Load the datasets into dataframes
df1 = pd.read_csv("C:\\Users\\gunas\\Downloads\\imputed(csv).csv")
df2 = pd.read_csv("C:\\Users\\gunas\\Downloads\\phenotype(csv).csv")
df=df1.copy()
df2.shape
df1.shape

(4732, 10)

In [2]:
df1.head(5)

,Variation ID,vg0130976864,vg0135617816,vg0138428840,vg0405463422,vg0713178880,vg0819793460,vg1019044175,vg1123563633,vg1207667840
0,Chromosome,chr01,chr01,chr01,chr04,chr07,chr08,chr10,chr11,chr12
1,Position,30976864,35617816,38428840,5463422,13178880,19793460,19044175,23563633,7667840
2,Variation Type,SNP,SNP,SNP,SNP,SNP,SNP,SNP,SNP,SNP
3,Reference,A,C,T,G,T,A,C,T,T
4,Primary Allele,G,C,T,G,T,A,T,T,T

In [3]:
df.drop(index=[0,1,2,3,4,5], inplace=True)

In [4]:
for i in range(6, len(df1['Variation ID'])):
    df.loc[i, ['Variation ID']] = [df.loc[i, ['Variation ID']]['Variation ID'][:4]]

In [5]:
df.rename(columns={'Variation ID': 'Cultivar ID'}, inplace=True)
df.shape

(4726, 10)

In [6]:
df.head(5)

,Cultivar ID,vg0130976864,vg0135617816,vg0138428840,vg0405463422,vg0713178880,vg0819793460,vg1019044175,vg1123563633,vg1207667840
6,B001,G,C,T,G,A,A,C,T,T
7,B002,A,C,T,G,T,A,C,T,T
8,B003,A,C,T,G,T,A,C,T,T
9,B004,A,C,T,G,T,A,C,T,T
10,B005,A,C,T,G,A,A,C,DEL,T

In [7]:
df2.head(5)

  Cultivar Name Cultivar ID       Subpopulation  Plant Height (cm)
0          2428        C152  Temperate Japonica              100.0
1         10340        W146            Indica I              127.4
2          108S        W150           Indica II              104.6
3             2        W129         VI/Aromatic              151.2
4          4484        W086           Indica II              103.4

In [8]:
merge = df2.merge(df, left_on='Cultivar ID', right_on='Cultivar ID')
merge

,Cultivar Name,Cultivar ID,Subpopulation,Plant Height (cm),vg0130976864,vg0135617816,vg0138428840,vg0405463422,vg0713178880,vg0819793460,vg1019044175,vg1123563633,vg1207667840
0,2428,C152,Temperate Japonica,100.00,A,C,T,G,T,A,C,T,T
1,10340,W146,Indica I,127.40,G,C,C,G,T,A,T,T,T
2,108S,W150,Indica II,104.60,G,C,T,DEL,T,A,T,T,T
3,2,W129,VI/Aromatic,151.20,G,C,C,DEL,T,A,C,T,C
4,4484,W086,Indica II,103.40,G,C,T,G,T,A,T,T,T
...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,ZhuzhenB,C159,Indica I,95.80,G,C,T,DEL,T,A,T,DEL,T
525,Zihui100,W167,Indica Intermediate,135.20,G,C,T,G,T,A,T,T,T
526,Zimangfeie,W324,Japonica Intermediate,156.00,G,C,T,G,T,A,C,T,C
527,Zinuo,C198,Indica Intermediate,173.77,G,C,C,DEL,T,T,T,T,C
528,ZIRI,W255,VI/Aromatic,145.80,G,C,C,G,T,T,C,C,C

In [9]:
merge.head(5)

,Cultivar Name,Cultivar ID,Subpopulation,Plant Height (cm),vg0130976864,vg0135617816,vg0138428840,vg0405463422,vg0713178880,vg0819793460,vg1019044175,vg1123563633,vg1207667840
0,2428,C152,Temperate Japonica,100.0,A,C,T,G,T,A,C,T,T
1,10340,W146,Indica I,127.4,G,C,C,G,T,A,T,T,T
2,108S,W150,Indica II,104.6,G,C,T,DEL,T,A,T,T,T
3,2,W129,VI/Aromatic,151.2,G,C,C,DEL,T,A,C,T,C
4,4484,W086,Indica II,103.4,G,C,T,G,T,A,T,T,T

In [10]:
merge.shape

(529, 13)

In [11]:
merge.isnull().sum()

Cultivar Name        0
Cultivar ID          0
Subpopulation        0
Plant Height (cm)    0
vg0130976864         0
vg0135617816         0
vg0138428840         0
vg0405463422         0
vg0713178880         0
vg0819793460         0
vg1019044175         0
vg1123563633         0
vg1207667840         0
dtype: int64

In [12]:

merge.replace('DEL', np.NaN, inplace=True)

In [13]:
merge.isnull().sum()

Cultivar Name          0
Cultivar ID            0
Subpopulation          0
Plant Height (cm)      0
vg0130976864           0
vg0135617816           3
vg0138428840           0
vg0405463422         209
vg0713178880           0
vg0819793460           0
vg1019044175           0
vg1123563633          52
vg1207667840           0
dtype: int64

In [14]:
merge["vg0135617816"] = merge["vg0135617816"].replace(np.NaN, "T")
merge['vg0405463422'] = merge['vg0405463422'].replace(np.NaN, "T")
merge['vg1123563633'] = merge['vg1123563633'].replace(np.NaN, "C")
merge.replace("N", np.NaN, inplace=True)
merge["vg0135617816"] = merge["vg0135617816"].replace(np.NaN, "C")
merge['vg0405463422'] = merge['vg0405463422'].replace(np.NaN, "G")
merge["vg0138428840"] = merge["vg0138428840"].replace(np.NaN, "T")
merge['vg0819793460'] = merge['vg0819793460'].replace(np.NaN, "A")
merge['vg1207667840'] = merge['vg1207667840'].replace(np.NaN, "T")
merge.replace("N", np.NaN, inplace=True)

In [15]:
merge

,Cultivar Name,Cultivar ID,Subpopulation,Plant Height (cm),vg0130976864,vg0135617816,vg0138428840,vg0405463422,vg0713178880,vg0819793460,vg1019044175,vg1123563633,vg1207667840
0,2428,C152,Temperate Japonica,100.00,A,C,T,G,T,A,C,T,T
1,10340,W146,Indica I,127.40,G,C,C,G,T,A,T,T,T
2,108S,W150,Indica II,104.60,G,C,T,T,T,A,T,T,T
3,2,W129,VI/Aromatic,151.20,G,C,C,T,T,A,C,T,C
4,4484,W086,Indica II,103.40,G,C,T,G,T,A,T,T,T
...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,ZhuzhenB,C159,Indica I,95.80,G,C,T,T,T,A,T,C,T
525,Zihui100,W167,Indica Intermediate,135.20,G,C,T,G,T,A,T,T,T
526,Zimangfeie,W324,Japonica Intermediate,156.00,G,C,T,G,T,A,C,T,C
527,Zinuo,C198,Indica Intermediate,173.77,G,C,C,T,T,T,T,T,C
528,ZIRI,W255,VI/Aromatic,145.80,G,C,C,G,T,T,C,C,C

In [16]:
merge.isnull().sum()

Cultivar Name        0
Cultivar ID          0
Subpopulation        0
Plant Height (cm)    0
vg0130976864         0
vg0135617816         0
vg0138428840         0
vg0405463422         0
vg0713178880         0
vg0819793460         0
vg1019044175         0
vg1123563633         0
vg1207667840         0
dtype: int64

In [17]:
merge.head(5)

,Cultivar Name,Cultivar ID,Subpopulation,Plant Height (cm),vg0130976864,vg0135617816,vg0138428840,vg0405463422,vg0713178880,vg0819793460,vg1019044175,vg1123563633,vg1207667840
0,2428,C152,Temperate Japonica,100.0,A,C,T,G,T,A,C,T,T
1,10340,W146,Indica I,127.4,G,C,C,G,T,A,T,T,T
2,108S,W150,Indica II,104.6,G,C,T,T,T,A,T,T,T
3,2,W129,VI/Aromatic,151.2,G,C,C,T,T,A,C,T,C
4,4484,W086,Indica II,103.4,G,C,T,G,T,A,T,T,T

In [18]:
merge.to_csv('File.csv', index=False)

In [19]:
import pandas as pd
from Bio import AlignIO
import os

# Read the CSV file into a DataFrame
combine = pd.read_csv('FILE.csv')

# Assuming 'merge' is the DataFrame you intended to use
# If not, replace it with the correct DataFrame
s = merge.iloc[:, 4:]

# Extract sequences and create a FASTA file
m = []
for i in range(len(combine['Cultivar ID'])):
    k = s.iloc[i, :]
    sm = [str(k[j]) for j in range(9)]  # Convert to string
    m.append(sm)

h = ["".join(i) for i in m]

with open("sq.fasta", "w") as f:
    for i, seq in enumerate(h):
        f.write(f">{combine['Cultivar ID'][i]}\n{seq}\n")

# Specify the full path to the Clustal Omega executable
clustalo_exe = r"C:\Users\gunas\Downloads\clustal-omega-1.2.2-win64\clustalo.exe"  # Replace with the actual path

# Specify the output file name
output_file = "new_sq.aln"

# Delete the existing file if it exists
if os.path.exists(output_file):
    os.remove(output_file)

# Use Clustal Omega to perform multiple sequence alignment
clustalo_command = [clustalo_exe, "--infile=sq.fasta", "--outfile=" + output_file, "--verbose", "--auto"]
subprocess.run(clustalo_command, check=True)
# Read the aligned sequences
alignment = AlignIO.read("new_sq.aln", "fasta")

# Write out the aligned sequences in FASTA format
with open('seque.fasta', 'w') as outfile:
    for record in alignment:
        outfile.write('>{}\n{}\n'.format(record.id, record.seq))

In [20]:
import pandas as pd

fasta_file = 'seque.fasta'
fasta_data = []
with open(fasta_file, 'r') as file:
    lines = file.readlines()
    for line in lines:
        line = line.strip()
        if line.startswith('>'):
            fasta_data.append({'ID': line[1:], 'Sequence': ''})
        else:
            fasta_data[-1]['Sequence'] += line
# print(fasta_data) 
# print("File.csv",merge)
sequen=pd.read_csv('FILE.csv')
seq=sequen.copy()
seq=seq.drop(['Cultivar Name','Subpopulation','Plant Height (cm)'],axis=1)
seq=seq.drop(seq.columns[1:11],axis=1)
for data in fasta_data:
    cultivar_id = data['ID']
    sequence = data['Sequence']
    seq.loc[seq['Cultivar ID'] == cultivar_id, 'Sequence'] = sequence
# seq
print(seq)

    Cultivar ID   Sequence
0          C152  ACTGTACTT
1          W146  GCCGTATTT
2          W150  GCTTTATTT
3          W129  GCCTTACTC
4          W086  GCTGTATTT
..          ...        ...
524        C159  GCTTTATCT
525        W167  GCTGTATTT
526        W324  GCTGTACTC
527        C198  GCCTTTTTC
528        W255  GCCGTTCCC

[529 rows x 2 columns]

In [21]:
sequence=pd.read_csv("File.csv")
sequence=sequence.drop(['Cultivar Name'],axis=1)
sequence=sequence.drop(sequence.columns[3:],axis=1)
f= seq.merge(sequence, left_on='Cultivar ID', right_on='Cultivar ID')
f.to_csv("data.csv",index=False)
f

    Cultivar ID   Sequence          Subpopulation  Plant Height (cm)
0          C152  ACTGTACTT     Temperate Japonica             100.00
1          W146  GCCGTATTT               Indica I             127.40
2          W150  GCTTTATTT              Indica II             104.60
3          W129  GCCTTACTC            VI/Aromatic             151.20
4          W086  GCTGTATTT              Indica II             103.40
..          ...        ...                    ...                ...
524        C159  GCTTTATCT               Indica I              95.80
525        W167  GCTGTATTT    Indica Intermediate             135.20
526        W324  GCTGTACTC  Japonica Intermediate             156.00
527        C198  GCCTTTTTC    Indica Intermediate             173.77
528        W255  GCCGTTCCC            VI/Aromatic             145.80

[529 rows x 4 columns]

In [22]:
g=pd.read_csv("data.csv")
g['Subpopulation'].value_counts()

Indica Intermediate      117
Indica I                  95
Temperate Japonica        93
Indica II                 74
Aus                       46
Tropical Japonica         43
Japonica Intermediate     20
VI/Aromatic               14
Intermediate              14
Indica III                13
Name: Subpopulation, dtype: int64

In [23]:
g

    Cultivar ID   Sequence          Subpopulation  Plant Height (cm)
0          C152  ACTGTACTT     Temperate Japonica             100.00
1          W146  GCCGTATTT               Indica I             127.40
2          W150  GCTTTATTT              Indica II             104.60
3          W129  GCCTTACTC            VI/Aromatic             151.20
4          W086  GCTGTATTT              Indica II             103.40
..          ...        ...                    ...                ...
524        C159  GCTTTATCT               Indica I              95.80
525        W167  GCTGTATTT    Indica Intermediate             135.20
526        W324  GCTGTACTC  Japonica Intermediate             156.00
527        C198  GCCTTTTTC    Indica Intermediate             173.77
528        W255  GCCGTTCCC            VI/Aromatic             145.80

[529 rows x 4 columns]

In [24]:
g['Subpopulation'].unique()

array(['Temperate Japonica', 'Indica I', 'Indica II', 'VI/Aromatic',
       'Indica Intermediate', 'Aus', 'Intermediate', 'Tropical Japonica',
       'Indica III', 'Japonica Intermediate'], dtype=object)

In [25]:
g.head(5)

  Cultivar ID   Sequence       Subpopulation  Plant Height (cm)
0        C152  ACTGTACTT  Temperate Japonica              100.0
1        W146  GCCGTATTT            Indica I              127.4
2        W150  GCTTTATTT           Indica II              104.6
3        W129  GCCTTACTC         VI/Aromatic              151.2
4        W086  GCTGTATTT           Indica II              103.4

In [26]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import StandardScaler
import numpy as np
# Load the dataset
X=f['Sequence']
y=f['Subpopulation']
vectorizer = CountVectorizer(analyzer='char', ngram_range=(3,3))
X_kmers = vectorizer.fit_transform(X)
encoded_1=X_kmers.toarray()
X=pd.DataFrame(encoded_1)
x_encode=X
from imblearn.over_sampling import RandomOverSampler, SMOTE, ADASYN
smote = SMOTE(random_state=42)
X_resampled, y_resampled = smote.fit_resample(X, y)
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size=0.2, random_state=42)

# Scale the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
# Initialize a logistic regression model with L2 regularization
lg= LogisticRegression(penalty='l2', C=0.1, random_state=42)
model = RandomForestClassifier(n_estimators=15, min_samples_leaf=1,min_samples_split=2,max_features=0.3010,max_depth=10)
# Train the model on the training set
model.fit(X_train, y_train)
lg.fit(X_train,y_train)
# Make predictions on the testing set
y_pred = model.predict(X_test)
y_pred2=lg.predict(X_test)
# Calculate the accuracy
acc = accuracy_score(y_test, y_pred)
acc2=accuracy_score(y_test,y_pred2)
print("Accuracy using Random Forest", acc*100)
print("Accuracy using logistic",acc2*100)
with open('vectorizer.pkl', 'wb') as vectorizer_file:
    pickle.dump(vectorizer, vectorizer_file)

with open('scaler.pkl', 'wb') as scaler_file:
    pickle.dump(scaler, scaler_file)

C:\Users\gunas\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

Accuracy using Random Forest 73.50427350427351
Accuracy using logistic 70.51282051282051

In [27]:

new_input=input("Enter Sequence")
new_input_kmers = vectorizer.transform([new_input]).toarray()
new_input_df = pd.DataFrame(new_input_kmers)
new_input_df_scaled = scaler.transform(new_input_df)

# Call the predict() method of the model to get the predicted class label
predicted_class = model.predict(new_input_df_scaled)
print(predicted_class)

Enter SequenceACTGTACTT
['Japonica Intermediate']

In [28]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error
import xgboost as xgb

# Label encode the target variable y
le = LabelEncoder()
y_encoded = le.fit_transform(y)

# Concatenate X_encode and y_encoded
X1 = np.concatenate((x_encode, y_encoded.reshape(-1, 1)), axis=1)
y1 = f["Plant Height (cm)"]

# Split the data into training and testing sets
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=0.2, random_state=123)

# Define the XGBoost model
xgb_model = xgb.XGBRegressor()

# Set the parameter grid for hyperparameter tuning
param_grid = {
    'colsample_bytree': [0.6, 0.8, 1.0],
    'max_depth': [10, 20, 30],
    'n_estimators': [50, 100, 150]
}

# Perform grid search with cross-validation on the training data
grid_search = GridSearchCV(estimator=xgb_model, param_grid=param_grid, cv=5)
grid_search.fit(X1_train, y1_train)

# Get the best parameters and best model
best_params = grid_search.best_params_
best_xgb_model = grid_search.best_estimator_

# Fit the best model on the entire dataset
best_xgb_model.fit(X1, y1)

# Make predictions on new data
predictions = best_xgb_model.predict(X1_test)
mse = mean_squared_error(y1_test, predictions)
print("Mean Squared Error:", mse)

df = pd.DataFrame()
df["Actual"] = y1_test
df["Predicted"] = predictions
print(df)

# Print the best parameters
print("Best Parameters:", best_params)

Mean Squared Error: 211.27535034372616
     Actual   Predicted
11    96.27  108.727180
435  159.60  164.920654
414  133.80  145.420471
150  141.57  133.317398
474  150.67  122.924141
..      ...         ...
132   84.20   87.384041
35    78.27   95.331635
432  172.60  172.556061
306  193.67  195.892288
49   180.00  167.277542

[106 rows x 2 columns]
Best Parameters: {'colsample_bytree': 0.6, 'max_depth': 10, 'n_estimators': 50}

In [29]:
new_sequence=new_input
new_input_kmers = vectorizer.transform([new_sequence]).toarray()
new_input_df = pd.DataFrame(new_input_kmers)
new_input_df_scaled = scaler.transform(new_input_df)
new_subpopulation=predicted_class
print(predicted_class)
le = LabelEncoder()
y=f['Subpopulation']

le.fit(y)  # Replace 'subpopulation' with the original subpopulation data used for encoding

# # Encode the new subpopulation
new_subpopulation_encoded = le.transform([new_subpopulation])
# Concatenate the encoded new sequence and subpopulation
new_data_encoded = np.concatenate((new_input_df_scaled, new_subpopulation_encoded.reshape(-1,1)), axis=1)
# X1 = np.concatenate((x_encode, t.reshape(-1, 1)), axis=1)
predictions = best_xgb_model.predict(new_data_encoded)
print('Predictions:', predictions)

['Japonica Intermediate']
Predictions: [117.74949]

C:\Users\gunas\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [30]:

pickle.dump(model,open('model1.pkl','wb'))
pickle.dump(best_xgb_model,open('model2.pkl','wb'))

In [31]:
models1=pickle.load(open('model1.pkl','rb'))
models2=pickle.load(open('model2.pkl','rb'))

In [32]:

prediction1 = models1.predict(new_input_df_scaled)
prediction2 = models2.predict(new_data_encoded)
print( prediction1)
print(prediction2)

['Japonica Intermediate']
[117.74949]